/* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
    white-space: nowrap; /*prevent the text from wrapping to the next line even if it is larger than the width of the sidebar*/
    
  }
  
  /* Style sidebar links */
  .sidebar a {
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    
  }
  
  /* Style links on mouse-over */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Style the main content */
  #main {
    margin-left: 80px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

.sidebar-icon{
    
    margin-right: 20px;
    vertical-align: middle;

    width: 40px;
  	height: 40px;
}

.head{

	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 150px;
	height: auto;
	top: 50%;
	z-index: 5;
	text-align: center;
    

}

/*Code player*/
body {
                
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: none;
  background-color: transparent !important;

}

#topbar {
  
    width: 100%;
    background-color: #EDEDED;
    padding: 5px;
    height: 30px;
    
  }
  
  #logo {
    
    float:left;
    font-weight: bold;
    font-size: 120%;
    padding: 3px 5px;
    
  }
  
  #buttonContainer {
    
    width: 233px;
    margin: 0 auto;
    
  }
  
  .toggleButton {
    
    float:left;
    border: 1px solid grey;
    padding: 6px;
    border-right: none;
    font-size: 90%;
    
  }
  
  #html {
    
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    
  }
  
  #output {
    
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 1px solid grey;
    
  }
  
  .active {
    
    background-color: #F5F9FF;
    
  }
  
  .highlightedButton {
    
    background-color: grey;
    
  }
  
  textarea {
    
    width: 50%;
    resize: none;
    border-top: none;
    border-color: grey;
    
  }
  
  .panel {
    
    float:left;
    width:50%;
    border-left: none;
    
  }
  
  iframe {
    
    border: none;
    
  }
  
  .hidden {
    
    display: none;
    
  }